#gamescreenScene {
    -fx-background-color: #c8d9dd;
}

.h1 {
    -fx-font-size: 30px;
}

.h2 {
    -fx-font-size: 25px;
}

.normal {
    -fx-font-size: 20px;
}

.small {
    -fx-font-size: 14.5px;
}

#questionCount, #timeLabel {
    -fx-background-color: #b0c6cb;
    -fx-background-radius: 10px;
}


#nextBtn {
    -fx-background-color: transparent;
}

#nextBtnIMG {
    -fx-image: url(../media/next.png);
}

#nextBtn:hover #nextBtnIMG {
    -fx-image: url(../media/next-color-2.png);
}

#nextBtn.last #nextBtnIMG {
    -fx-image: url(../media/tick-mark.png);
}

#nextBtn.last:hover #nextBtnIMG {
    -fx-image: url(../media/tick-mark-color-2.png);
}