#searchComp {
    -fx-background-color: transparent;
    -fx-background-radius: 10px;
}

.h1 {
    -fx-font-size: 30px;
}

.h2 {
    -fx-font-size: 25px;
}

.normal {
    -fx-font-size: 20px;
}

.small {
    -fx-font-size: 14.5px;
}

.split-pane-divider {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-radius: 10px;
}

.list-view {
    -fx-background-color: #b0c6cb;
    -fx-background-radius: 10px;
}

.list-view .scroll-bar {
    -fx-background-color: transparent;
}

.list-view .scroll-bar .thumb {
    -fx-background-color: #8aa7ad;
}

.list-cell {
    -fx-background-color: #b0c6cb;
    -fx-text-fill: black;
}

.list-cell:selected {
    -fx-background-color: #8aa7ad;
    -fx-text-fill: white;
}

.list-cell:hover {
    -fx-background-color: #8aa7ad;
    -fx-text-fill: white;
}

.empty {
    -fx-background-color: transparent;
}

.list-cell:hover .empty {
    -fx-background-color: transparent;
}