#wordComp {
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}

.button, #wordSynonymLabel {
    visibility: hidden;
}

#wordSynonymLabel.active,
#wordPronunButton.active,
#wordBookmarkButton.active,
#wordEditButton.active,
#wordDeleteButton.active {
    visibility: visible;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

#wordBookmarkButtonIMG {
    -fx-image: url(../media/circle-star-color.png);
}

#wordEditButtonIMG {
    -fx-image: url(../media/edit-color.png);
}

#wordDelButtonIMG {
    -fx-image: url(../media/trash-color.png);
}

#wordBookmarkButton:hover #wordBookmarkButtonIMG {
    -fx-image: url(../media/circle-star-color-2.png);
}

#wordEditButton:hover #wordEditButtonIMG {
    -fx-image: url(../media/edit-color-2.png);
}

#wordDeleteButton:hover #wordDelButtonIMG {
    -fx-image: url(../media/trash-color-2.png);
}

#wordPronunButtonIMG {
    -fx-image: url(../media/volume-color.png);
}

#wordPronunButton:hover #wordPronunButtonIMG {
    -fx-image: url(../media/volume-color-2.png);
}


#wordPronunButton.loading #wordPronunButtonIMG {
    -fx-image: url(../media/loading.gif);
}